
.highlight{
    color: red;
    background-color: yellow;

}

button{
    height: 30px;
    width: 80px;
    background-color: aqua;
    font-style: oblique;
    color: purple;
    align-items: center;
    display: flex;
    justify-content: center;

}

.spacer{
    display: flex;
    align-items: center;
    /* background-color: red; */

}

#enterButton{
    width: 320px;
    background-color: red;
    color: white;

}

box{
    height: 30px;
    width: 80px;
    border: 4px;
    color: blue;
    background-color: chartreuse;
    border-style: double;
    border-color: black;
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
.used{
    background-color: black;
    color: grey;
}